<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
<%- include('./partials/nav.ejs') %>
<div class="m-3">
    <h3>
        Sube tu momazo:
    </h3>
    <form action="/images/upload" method="POST" enctype="multipart/form-data">
        <input type="file" class="d-block my-3 inputfile" name="file" required>
        <input type="text" class="d-block my-3 titulomomazo" name="title" placeholder="Titulo del meme..." required>
        <button type="submit" class="btn btn-outline-success">Subir</button>
    </form>
</div>
<div class="container-fluid w-75 bg-light momazos p-4">
    <% if(result.length > 0){%>
    <% result.forEach(imagen=> {%>
        <div class="my-3">
            <div class="row">
                <img src=".\<%= imagen.path %>" alt="Imagen" class="col-lg-6 momazo col-sm-12">
                <div class="col-lg-6 col-sm-12">
                    <h3 class="p-3"><%= imagen.title %></h3>
                    <p class="p-3 fs-6">Creado el: <%= imagen.createdAt %></p>
                </div>
            </div>
        </div>
    <%})}else{%>
        <p>No hay momazos para mostrar...</p>
    <%}%>
</div>
<%- include('./partials/footer.ejs') %>
</body>
</html>